h1#rosmann-pharmaceutical-sales-prediction {
    background-color: #8a0e75;
    border-radius: 18px;
    color: rgb(3, 39, 46);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 0 0 16px;
    padding: 16px;
}

div.block-container.css-18e3th9.egzxvld2 {
    background-color: #84c2d4;
    lighting-color: azure;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 0 0 16px;
    padding: 16px;
}

div.css-1wf22gv {
    background-color: #937e9c;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 0 0 16px;
    padding: 16px;
}

header.css-vl8c1e.e8zbici2 {
    background-color: #9f7eca;
    border-radius: 10px 10px 0 0;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
}

div.stApp.streamlit-wide.css-fg4pbf.eczokvfo.css-fg4pbf {
    background-color: #73a871;
    border-radius: 10px 10px 0 0;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
}


/* div {
    background-color: #382f38;
    border-radius: 10px 10px 0 0;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
} */